﻿@*@model CalendarApp.Models.DateAppoointment;   *@
@{
    var day = ViewData["Day"];
    var month = ViewData["MonthName"];
    var year = ViewData["Year"];
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


<div class="dayView">
    <div class="dayViewHeader" id="dayViewHeader">
        @*<h3 id="dayHeader">@month @day, @year</h3>
            <button type="button" onclick="displayForm()" runat="client" class="add" title="Add Appointment"></button>*@
    </div>
    <div id="appointmentContainer">Empty</div>

</div>


<h2>Example 2:</h2>
<form id="second_form" method="post" action="">
    <div>
        <label for="fname">First Name:</label>
        <input type="text" id="fname" name="fname">
    </div>
    <div>
        <label for="lname">Last Name:</label>
        <input type="text" id="lname" name="lname">
    </div>
    <div>
        <label for="user_email">Email:</label>
        <input type="email" id="user_email" name="user_email">
    </div>
    <div>
        <label for="psword">Password:</label>
        <input type="password" id="psword" name="psword">
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>

<script>
    $(document).ready(function () {

        $('form[id="second_form"]').validate({
            rules: {
                fname: 'required',
                lname: 'required',
                user_email: {
                    required: true,
                    email: true,
                },
                psword: {
                    required: true,
                    minlength: 8,
                }
            },
            messages: {
                fname: 'This field is required',
                lname: 'This field is required',
                user_email: 'Enter a valid email',
                psword: {
                    minlength: 'Password must be at least 8 characters long'
                }
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
    });
</script>

@*@section scripts{*@
@*<script type="text/javascript">
        function loadAppointments() {
            //console.log("Entering load function");
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    //console.log("Ready and OK");
                    //console.log(this.responseText);
                    var json = JSON.parse(this.responseText);
                    //console.log(json);
                    document.getElementById("test").innerHTML = json.name;
                    //document.getElementById("test").innerHTML = "Full";
                }
            };
            xhttp.open("GET", "https://localhost:44301/api/GetAppointmentItems/", true);
            xhttp.send();
            //console.log("Request sent");
        }
    </script>*@


@*}*@

