﻿@{
    ViewData["Title"] = "Home Page";
    DateTime today = DateTime.Today;
}

<div>
    <ul>
        <li>
            <a asp-controller="Calendar" asp-action="ShowCalendar" asp-route-_year="@today.Year" asp-route-_month="@today.Month" asp-route-_day="@today.Day">Calendar App</a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="Test">Testing Grounds</a>
        </li>
       
    </ul>
        
</div>
@*<div>
    <partial name="_ShowDay">
</div>*@