﻿<!DOCTYPE html>

<script>

    const locationApiKey = "3c65c4dc2c25497c9dfbf0091c1b0740";
    const weatherApiKey = "da16ce4bf753424c126bd24de2ef7d42";


    const locationRoute = "https://api.ipgeolocation.io/ipgeo?apiKey=";
    const weatherRoute = "https://api.openweathermap.org/data/2.5/weather?q=";

    const city = "Prague";
    //http accept
    //swagger.io

    //tfs - practice manual and automatic merging
    //get a dev account

    //CRM + TFS - keep questions for future sessions

    //get approval from Simona to Anne Kwast on 1st of april there is a big planning meeting for CRM in Frankfurt

    const weatherRequestweatherRoute = weatherRoute + city + "&appid=" + weatherApiKey;
    const locationRequestRoute = locationRoute + locationApiKey;

    function masterWeatherRequest(apiWeatherRoute) {
        getWeather(apiWeatherRoute).then(function (result) {
            let json = JSON.parse(result);
            console.log(json.main.temp)
            console.log(json.weather[0].main)
            let temperature = (json.main.temp - 273).toFixed(1);
            document.getElementById("wInfo").innerHTML = "Weather: " +  json.weather[0].main + ", the temperature is: " + temperature + " Celsius";
        })
    }

    function masterLocationRequest(apiLocationRoute) {
        getLocation(apiLocationRoute).then(function (result) {
            let json = JSON.parse(result);
            console.log("You are in " + json.city);
            document.getElementById("lInfo").innerHTML = json.city;
        })
    }

    function getLocation(apiLocationRoute) {
        return new Promise(function (resolve, reject){
            let request = new XMLHttpRequest();
            request.open("GET", apiLocationRoute, true);
            request.onload = function () {
                if (request.status == 200) {
                    resolve(request.responseText);
                }
                else {
                    reject(Error("Error getting location"));
                }
            };
            request.onerror = function () {
                reject(Error("Network Error"));
            };

            request.send();
        })
    }

    function getWeather(apiWeatherRoute) {
        return new Promise(function (resolve, reject) {
            //send the http request here
            let request = new XMLHttpRequest();
            request.open("GET", apiWeatherRoute, true);
            request.onload = function () {
                //check if server replied with status OK
                if (request.status == 200) {
                    resolve(request.responseText);
                }
                else {
                    reject(Error("Error getting weather info"));
                }
            };
            request.onerror = function () {
                reject(Error("Network Error"));
            };

            request.send();
        })
    }

    function printResponse(responseText) {
        console.log(responseText);
    }
</script>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Testing Grounds</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
</head>
<body>
    <h1>Welcome to the testing grounds.</h1>
    <div>
        <button type="button" title="Get Weather" onclick="masterWeatherRequest(weatherRequestweatherRoute)">Weather</button>
        <p id="wInfo">Weather goes here</p>

        <button type="button" title="Get Location" onclick="masterLocationRequest(locationRequestRoute)">Location</button>
        <p id="lInfo">Location goes here</p>
    </div>
</body>
</html>

@*api.openweathermap.org/data/2.5/weather?q={city name},{country code}*@
@*api.openweathermap.org/data/2.5/weather?q=Prague,CZ*@

