﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: black;
    font-size: 1em;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

table.calendar, th, td {
background-color : red;
border : 1px, solid, black;
}

.calendar ul {list-style-type : none;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

    .weekdays li {
        display: inline-block;
        width: 13.6%;
        color: #666;
        text-align: center;
    }

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

    .days li {
        padding: 2em 0 2em 0;
        border: 1px solid #ccc;
        list-style-type: none;
        display: inline-block;
        width: 13.6%;
        height: 10%;
        text-align: center;
        font-size: 12px;
        color: #777;
        margin: 5px 0 0 0;
        cursor:pointer;
        transition:300ms ease;
    }

    .days li:hover {
        background: #ddd !important;
        opacity:0.7;

    }


        .days li.offsetDate {
        
        background-color: #ddd;
        }

        .days li.today{
            /*background-color: white;*/
        }

        .days li.selectedDay {
            background-color: white;
        }

    .days a {
        color: black;
        font-size: 2em;
    }

        .days .offsetDate a {
            color: grey;
        }

    .days .today a {
        color: #ff5576;
    }

.monthHeader {
    width: 15em;
    display: inline-block;
    text-align: center;
}

.dayView {
    width: 25%;
    float: left;
    margin-left: 5%;
    background: #eee;
    padding: 2em;
}

.calendar {
    width: 70%;
    float:left;
}

.head {
    height: 3em;
}

.add {
    background-image: url(../Images/plus.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /* put the height and width of your image here */
    height: 50px;
    width: 50px;
    border: none;
    -webkit-appearance: none;
    -webkit-appearance: none;
    /*text-rendering: unset;*/
    background-color: transparent;
    background-size: 100%;
    float:right
}

.delete {
    background-image: url(../Images/cancel.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /* put the height and width of your image here */
    height: 20px;
    width: 20px;
    border: none;
    -webkit-appearance: none;
    -webkit-appearance: none;
    /*text-rendering: unset;*/
    background-color: transparent;
    background-size: 100%;
    float: right
}

button span {
    display: none;
}

.divAppointment {
    width: 90%;
    border-color: black;
    border-radius: 5px;
    background-color: white;

    position:center;

    padding: 1em;
    margin: 2em;

    content: "";
    clear: both;
    display: table;
}

.dayView h3 {
    font-size: 1.75rem;
    width: 50%;
    float: left;
}

.dayViewHeader{
    padding-bottom: 10px;
}

.dayViewHeader::after {
    content:"";
    clear:both;
    display:table;
}

.appointmentDescription {
    float:left;

}

.appointmentContainer form input{
    padding: 20px 0 20px 0;

}


#newAppointment p {
    margin:0 0 4px 0
}

#newAppointment input {
    margin-bottom:12px; box-sizing:border-box;padding:4px

}
#appointmentContainer button 
{
}

.error {
    color: #ff5576;
}



.descriptionContainer {
float:left;
}

.buttonContainer {
    float: right;
}
