﻿
@{
    var day = ViewData["Day"];
    var month = ViewData["MonthName"];
    var year = ViewData["Year"];
}

<head>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    @*<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>*@
</head>

<div class="dayView">
    <div class="dayViewHeader" id="dayViewHeader">
        <h2></h2>
    </div>
    <div id="appointmentContainer">
        @*Empty*@
        @*<form id="newAppointment" action="" method="post">
            <p>Title:</p>
            <input name="title" id="title">
            <p>Description:</p>
            <input name="description" id="description">

            <input id="submitButton" type="submit" onclick="processForm()" />
        </form>*@

        <form id="newAppointment" method="post" action="">
            <div>
                <label for="title">title:</label>
                <input type="text" id="title" name="title">
            </div>
            <div>
                <label for="description">description:</label>
                <input type="text" id="description" name="description">
            </div>
            <div>
                <input type="submit" value="Submit" />
            </div>
        </form>
    </div>
</div>






