﻿
@*@using System.Web.Html;*@

<!DOCTYPE html>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>

<script type="text/javascript">

    function displayForm() {
        $("#appointmentContainer").hide();
        $("#appointmentForm").show();
    }

    function displayAppointmentsList() {
        $("#appointmentForm").hide();
        $("#appointmentContainer").show();
    }

    function switchDate() {
        let year    = arguments[0];
        let month   = arguments[1];
        let day = arguments[2];
        updateDayHeader(new Date(year, month-1, day));
        displayAppointmentsList();
        let _json = getAppointments(year, month, day);
        console.log(_json);
    }

    function updateDayHeader() {

        newDate = arguments[0];
        console.log("Updating date : " + newDate);
            var monthNames = [
                "January",
                "February",
                "March",
                "April",
                "May",
                "June",
                "July",
                "August",
                "September",
                "October",
                "November",
                "December"
            ]
            let dateString = monthNames[newDate.getMonth()] + " " + newDate.getDate() + ", " + newDate.getFullYear();
            let header = document.getElementById("dayHeader");
            header.innerHTML = dateString;
    }

    function getAppointments() {
            let year    = arguments[0];
            let month   = arguments[1];
            let day = arguments[2];
            let route = decodeURI("https://localhost:44301/api/GetAppointmentsByDate/" + year + "," + month + "," + day);
            let xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var json = JSON.parse(this.responseText);
                    console.log(json);
                    displayAppointments(json);
                    return json;
                }
            };
            xhttp.open("GET", route, true);
            xhttp.send();
        }

    function displayAppointments(json) {
        var appointmentContainer = document.getElementById("appointmentContainer");
        appointmentContainer.innerHTML = ""

        //var list = document.createElement("div");
        //list.className = "appointmentDescription"

        for (var i = 0; i < json.length; i++) {
            var appointment = document.createElement("div");
            appointment.className = "divAppointment";
            
            //var listItem = document.createElement("li");
            var descriptionContainer = document.createElement("div");
                descriptionContainer.className = "descriptionContainer";
                var title = document.createElement('p');
                var description = document.createElement('p');
                title.innerText = json[i].name;
                description.innerHTML = json[i].description;
            descriptionContainer.append(title);
            descriptionContainer.append(description);
            //list.append(listItem);

            var buttonContainer = document.createElement("div");
                buttonContainer.className = "buttonContainer";
            var deleteButton = document.createElement("button");
                deleteButton.type = "button";
                deleteButton.className = "delete";
                let id = json[i].id;
                deleteButton.onclick = function () { deleteAppointment(id); };
                deleteButton.title = "Delete Appointment";
            buttonContainer.append(deleteButton);


            appointment.append(descriptionContainer);
            appointment.append(buttonContainer);

            appointmentContainer.append(appointment);
            //list.append(appointment);
        }
        

    }

    function deleteAppointment(_id) {
            console.log("Deleting appointment with id: " + _id);
            var id = _id;
            var route = decodeURI("https://localhost:44301/api/DeleteAppointmentByID/" + id);
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var json = JSON.parse(this.responseText);
                    //console.log(json[0].date);
                }
            };
            xhttp.open("Delete", route, true);
            xhttp.send();
    }


    function processForm() {
            console.log("Processing form");
            console.log("the date is:" + arguments[0]);

            let form = document.getElementById("newAppointment");
            let json = {};
            for (var i = 0; i < form.length; i++) {
                let key = form[i].name;
                let value = form[i].value;
                json[key] = value;
            }
            let date = arguments[0];

            json["date"] = {
                "year": date.getFullYear(),
                "month": date.getMonth(),
                "day": date.getDate()
            };

            for (let key in json) {
                console.log(key + ": " + json[key]);
            }

            for (let key in json["date"]) {
                console.log(json["date"][key]);
            }

            const body = JSON.stringify(json);
            console.log(body);

            const route = decodeURI("https://localhost:44301/api/CreateAppointmentExperimental/");

            const request = new XMLHttpRequest();
                        request.open("POST", route, true);



            //request.setRequestHeader("Content-Type", "text/plain; charset=UTF-8");
            request.setRequestHeader("Content-Type", "application/json; charset=UTF-8");
            request.send(body);

            //displayAppointments(getAppointments());
        }

         

        
    function processFormPromise(date) {
        return new Promise(function (resolve, reject) {
            console.log("Processing promised form");
            console.log("the date is:" + date);

            let form = document.getElementById("newAppointment");
            let json = {};
            for (var i = 0; i < form.length; i++) {
                let key = form[i].name;
                let value = form[i].value;
                json[key] = value;
            }
            //let date = arguments[0];

            json["date"] = {
                "year": date.getFullYear(),
                "month": date.getMonth(),
                "day": date.getDate()
            };
            //send the http request here

            const body = JSON.stringify(json);
                 
            const route = decodeURI("https://localhost:44301/api/CreateAppointmentExperimental/");

            const request = new XMLHttpRequest();
            request.open("POST", route, true);
            
            request.onload = function () {
                //check if server replied with status OK
                if (request.status == 200) {
                    console.log("Form received OK");
                    resolve("Form received OK");
                }
                //if server replied with status Rejected
                else {
                    reject(Error("Form failed server validation(promise)"));
                }
            };

            request.onerror = function () {
                reject(Error("Network Error"));
            };
           
            request.setRequestHeader("Content-Type", "application/json; charset=UTF-8");
            request.send(body);

        })
    
    }
         

</script>


