﻿@{
    ViewData["Title"] = "Calendar";
}

<h2>Calendar</h2>

<a class="navbar-brand" asp-controller="Calendar" asp-action="ShowCalendar" asp->Calendar Page</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<p>Enjoy the calendar!</p>