﻿@model CalendarApp.Models.CalendarDates

@{
    ViewData["Title"] = "Calendar";

    //api controller that will return json with the appointments
    //then use promises to update html in the day partial view
    //inside the promise use ajax for calling the api controller

    DateTime[] offsetBefore = Model.offsetBeforeDates;
    DateTime[] currentMonthDates = Model.currentMonthDates;
    DateTime[] OffsetAfter = Model.offsetAfterDates;
    DateTime selectedDate = Model.selectedDate;


    var month = selectedDate.Month;
    var year = selectedDate.Year;
    var prevMonth = (int)month - 1;
    var nextMonth = (int)month + 1;

    System.Globalization.DateTimeFormatInfo mfi = new System.Globalization.DateTimeFormatInfo();
    string strMonthName = mfi.GetMonthName(selectedDate.Month).ToString();
    ViewData["MonthName"] = strMonthName;
    ViewData["Year"] = year;
    ViewData["Day"] = selectedDate.Day;
}



<script type="text/javascript">
    $(document).ready(function () {
        $('#newAppointment').submit(function (e) {
            let error = false;
            e.preventDefault();
            let title = $('#title').val();
            let description = $('#description').val();
            $(".error").remove();

            if (title.length < 1) {
                $('#title').after('<span class="error">Title is too short</span>');
                error = true;
            }
            if (description.length < 1) {
                $('#description').after('<span class="error">Description is too short</span>');
                error = true;
            }
            //if(!error) processForm(date);
            if (!error) {
                //processFormPromise(date);
                processFormPromise(date).then(function (response) {
                    console.log("Success (promise)!");
                }, function (error) {
                        console.log("Error (promise)!");
                        console.error("Failed!", error);
                })
            } 
        });
        switchDate(@year, @month, @selectedDate.Day);
        displayAppointmentsList();
    });
</script>

<body>
    <div class="calendar">
        <div class="head">

            <a class="navbar-brand" asp-controller="Calendar" asp-action="ShowPrevious" asp-route-currentMonth="@month" asp-route-currentYear="@year">Previous Month</a>
            <span class="monthHeader">
                <h3>@strMonthName</h3>
            </span>
            <a class="navbar-brand" asp-controller="Calendar" asp-action="ShowNext" asp-route-currentMonth="@month" asp-route-currentYear="@year">Next Month</a>
            <span class="monthHeader">
                <h3>@year</h3>
            </span>

        </div>

        <ul class="weekdays">
            <li>S</li>
            <li>M</li>
            <li>T</li>
            <li>W</li>
            <li>T</li>
            <li>F</li>
            <li>S</li>
        </ul>

        <ul class="days">
            @foreach (DateTime day in offsetBefore)
            {
                <li class="offsetDate" onclick="switchDate(@year, @prevMonth, @day.Day)">
                    <a>@day.Day</a>
                </li>
            }
            @foreach (DateTime day in currentMonthDates)
            {
                if (day == DateTime.Today)
                {
                    <li class="today" onclick="switchDate(@year, @month, @day.Day)">
                        <a>@day.Day</a>
                    </li>
                }
                else if (day == selectedDate)
                {
                    <li class="selectedDay" onclick="switchDate(@year, @month, @day.Day)">
                        <a>@day.Day</a>
                    </li>
                }
                else
                {
                    <li class="selectedDay" onclick="switchDate(@year, @month, @day.Day)">
                        <a>@day.Day</a>
                    </li>
                }

            }
            @foreach (DateTime day in OffsetAfter)
            {
                <li class="offsetDate" onclick="switchDate(@year, @nextMonth, @day.Day)">
                    <a>@day.Day</a>
                </li>
            }
        </ul>
    </div>

    <!--Day information form-->
    <!--Day header-->
    <div class="dayView">
        <div class="dayViewHeader" id="dayViewHeader">
            <h3 id="dayHeader">Here goes the date</h3>
            <button type="button" class="add" title="Add Appointment" onclick="displayForm()"></button>
        </div>
        <!--Add appointment form-->
        <div id="appointmentForm">
            <form id="newAppointment" action="" method="post">
                <div>
                    <label for="title">Title:</label>
                    <input type="text" id="title" name="title">
                </div>
                <div>
                    <label for="description">description:</label>
                    <input type="text" id="description" name="description">
                </div>
                <div>
                    <input type="submit" value="Submit" id="submitButton">
                </div>
            </form>

        </div>

        <!--View list of appointments form-->
        <div id="appointmentContainer">
            <p>Here goes appointment list</p>
        </div>
    </div>

</body>

<script type="text/javascript">
                let date;
                date = determineDate(date);
                function determineDate(date) {
                    //console.log("Determining Date");
                    if (date == null) {
                        date = new Date(@selectedDate.Year, @selectedDate.Month - 1, @selectedDate.Day);
                    }
                    else {
                       date = new Date(arguments[0], arguments[1] - 1, arguments[2]);
                    }
                    return date;
                }
            updateDayHeader(date);
</script>